* {
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Menu de navigacion */
body {
    background: #ffffff;
}

body .MenuPrincipal {
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 21px 144px;
}

body .MenuPrincipal .logo {
    border-radius: 5px;
    height: 52px;
    width: 250px;
}

body .MenuPrincipal .Logo img{
    padding-top: 10px;
}

body .MenuPrincipal .Items{
    align-items: center;
    color: #118596;
    display: flex;
    padding-right: 54px;
}

body .MenuPrincipal .MenuItems .Items p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 0px 35.5px;
    padding-inline: 20px;
    padding-right: 100px;
}

body .MenuPrincipal .MenuItems{
    display: flex;
}

body .MenuPrincipal .MenuItems .Boton {
    background: #118596;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    cursor: pointer;
    padding: 16px 32px;
}

body .MenuPrincipal .MenuItems .Boton:hover {
    background: #ffffff;
    border: 2px solid #118596;
    border-radius: 5px;
    color: #118596;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 14px 30px;
}

/* Menu de navigacion */

body .Section1 {
    position: relative;
}

body .Section1 .Imagen img {
    vertical-align: top;
    width: 100%;
}

body .Section1 .Titulo-boton {
    border: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
}

body .Section1 .Titulo-boton h1 {
    color: #FFB600;
    font-size: 48px;
    text-align: center;
    padding: 32px;
    width: 100%;
}

body .Section1 .Titulo-boton .Boton-amarillo {
    background-color: #FFB600;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    padding: 16px 32px;
}

body .Section1 .Titulo-boton .Boton-amarillo:hover {
    background: black;
    border: none solid #FFB600;
    border-radius: 5px;
    color: #FFB600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    padding: 16px 32px;
}

body .Beneficios {
    display: flex;
    justify-content: space-between;
    margin: 144px 0;
    padding: 0 144px;
    width: 100%;
}

body .Beneficios .Beneficios-card {
    align-content: start;
    display: flex;
    flex-wrap: wrap;
    height: 290px;
    justify-content: center;
    width: 500px;
}

body .Beneficios .Beneficios-card span {
    font-size: 88px;
    margin-bottom: 24px;
}

body .Beneficios .Beneficios-card h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

body .Beneficios .Beneficios-card p {
    font-size: 24px;
    text-align: center;
    width: 100%;
}

body .MasInformacion {
    background-color: #f1f1f1;
    width: 100%;
    padding: 89px 144px;
}

body .MasInformacion .Contenido {
    display: flex;
    flex-wrap: wrap;
    height: 212px;
}

body .MasInformacion .Contenido > p {
    font-size: 24px;
    text-align: center;
    width: 100%;
}

body .MasInformacion .Contenido .Titulo {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

body .MasInformacion .Contenido .Titulo > h4 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

body .MasInformacion .Contenido .Titulo > span {
    border: 1px solid #118596;
    width: 15%;
}

body .Cards {
    display: flex;
    justify-content: space-between;
    padding: 89px 144px;
}

body .Cards .Card1 {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    width: 700px;
}

body .Cards .Card1 .Imagen-Card {
    flex: 300%;
}

body .Cards .Card1 .Imagen-Card > img {
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    width: 100%;
}

body .Cards .Card1 .Contenido-Card {
    align-items: start;
    display: flex;
    flex-basis: content;
    flex-wrap: wrap;
    justify-content: center;
    padding: 55px 34px;
    width: 100%;
}

body .Cards .Card1 .Contenido-Card > p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

body .Cards .Card1 .Contenido-Card .Titulo-Card {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

body .Cards .Card1 .Contenido-Card .Titulo-Card > h4 {
    font-size: 34px;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
}

body .Cards .Card1 .Contenido-Card .Titulo-Card > span {
    border: 1px solid #118596;
    width: 50%;
}

body .Cards .Card1 .Contenido-Card button {
    background: none;
    border: 2px solid #118596;
    border-radius: 5px;
    color: #118596;
    cursor: pointer;
    font-size: large;
    padding: 16px 32px;
}

body .Cards .Card1 .Contenido-Card button:hover {
    background: #118596;
    border-radius: 5px;
    color: #ffffff;
    font-size: large;
    padding: 16px 32px;
}

body .Informacion {
    height: 100%;
    width: 100%;
    padding: 89px 144px;
}

body .Informacion .Contenido {
    display: flex;
    flex-wrap: wrap;
    height: 212px;
    padding-bottom: 120px;
}

body .Informacion .Contenido > p {
    font-size: 24px;
    text-align: center;
    width: 100%;
}

body .Informacion .Contenido .Titulo {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
}

body .Informacion .Contenido .Titulo > h4 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

body .Informacion .Contenido .Titulo > span {
    border: 1px solid #118596;
    width: 25%;
}

body .Informacion button {
    background: none;
    border: 2px solid #118596;
    border-radius: 5px;
    color: #118596;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    padding: 14px 30px;
    left: 50%;
    padding: 16px 32px;
    position: absolute;
    transform: translate(-50%, -50%);
}


body .Informacion button:hover {
    background: #118596;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    padding: 16px 32px;
}

body .Footer {
    align-items: center;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

body .Footer .Izquierda {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 500px;
}

body .Footer .Izquierda .Terminos-Privacidad {
    display: flex;
    gap: 24px;
}

body  .Footer .Izquierda .Terminos-Privacidad > span {
    border: 2px solid #118696;
}

body .Footer .Derecha {
    display: flex;
    gap: 24px;
}

body .Footer .Derecha .Enlaces {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 1366px){
    body {
        background: #ffffff;
    }
    
    body .MenuPrincipal {
        background: #ffffff;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 16px 32px;
    }
    
    body .MenuPrincipal .Logo {
        border-radius: 5px;
        height: 52px;
        width: 250px;
    }
    
    body .MenuPrincipal .Logo img{
        padding-top: 10px;
    }
    
    body .MenuPrincipal .Items{
        align-items: center;
        color: #118596;
        display: flex;
        padding-right: 54px;
    }
    
    body .MenuPrincipal .MenuItems .Items p {
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        padding: 0px 35.5px;
        padding-inline: 20px;
        padding-right: 54px;
    }
    
    body .MenuPrincipal .MenuItems{
        display: flex;
    }
    
    body .MenuPrincipal .MenuItems .Boton {
        background: #118596;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        cursor: pointer;
        padding: 16px 32px;
    }
    
    body .MenuPrincipal .MenuItems .Boton:hover {
        background: #ffffff;
        border: 2px solid #118596;
        border-radius: 5px;
        color: #118596;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        padding: 14px 30px;
    }
    
    /* Menu de navigacion */
    
    body .Section1 {
        position: relative;
    }
    
    body .Section1 .Imagen img {
        height: 719.26px;
        vertical-align: top;
        width: 1366px;
    }
    
    body .Section1 .Titulo-boton {
        border: 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 42%;
        transform: translate(-50%, -50%);
        width: 900px;
    }
    
    body .Section1 .Titulo-boton h1 {
        color: #FFB600;
        font-size: 48px;
        text-align: center;
        padding: 58px;
        width: 100%;
    }
    
    body .Section1 .Titulo-boton .Boton-amarillo {
        background-color: #FFB600;
        border: none;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 24px;
        padding: 16px 32px;
    }
    
    body .Section1 .Titulo-boton .Boton-amarillo:hover {
        background: black;
        border: none solid #FFB600;
        border-radius: 5px;
        color: #FFB600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
        padding: 16px 32px;
    }
    
    body .Beneficios {
        display: flex;
        justify-content: space-between;
        margin: 144px 0px;
        padding: 0px 56px;
        width: 100%;
    }
    
    body .Beneficios .Beneficios-card {
        align-content: start;
        display: flex;
        flex-wrap: wrap;
        height: 290px;
        justify-content: center;
        width: 380px;
    }
    
    body .Beneficios .Beneficios-card span {
        font-size: 475%;
        margin-bottom: 24px;
    }
    
    body .Beneficios .Beneficios-card h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
    }
    
    body .Beneficios .Beneficios-card p {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
    
    body .MasInformacion {
        background-color: #f1f1f1;
        width: 100%;
        padding: 89px 56px;
    }
    
    body .MasInformacion .Contenido {
        display: flex;
        flex-wrap: wrap;
        height: 212px;
    }
    
    body .MasInformacion .Contenido > p {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
    
    body .MasInformacion .Contenido .Titulo {
        align-items: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    body .MasInformacion .Contenido .Titulo > h4 {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }
    
    body .MasInformacion .Contenido .Titulo > span {
        border: 1px solid #118596;
        width: 15%;
    }
    
    body .Cards {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 89px 233px;
    }
    
    body .Cards .Card1 {
        background: none;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        width: 700px;
    }
    
    body .Cards .Card1 .Imagen-Card {
        flex: 300%;
    }
    
    body .Cards .Card1 .Imagen-Card > img {
        height: 100%;
        object-fit: cover;
        vertical-align: top;
        width: 100%;
    }
    
    body .Cards .Card1 .Contenido-Card {
        align-items: start;
        display: flex;
        flex-basis: content;
        flex-wrap: wrap;
        justify-content: center;
        padding: 55px 34px;
        width: 100%;
    }
    
    body .Cards .Card1 .Contenido-Card > p {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    body .Cards .Card1 .Contenido-Card .Titulo-Card {
        align-items: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    body .Cards .Card1 .Contenido-Card .Titulo-Card > h4 {
        font-size: 34px;
        text-align: center;
        width: 100%;
        padding-bottom: 5px;
    }
    
    body .Cards .Card1 .Contenido-Card .Titulo-Card > span {
        border: 1px solid #118596;
        width: 50%;
    }
    
    body .Cards .Card1 .Contenido-Card button {
        background: none;
        border: 2px solid #118596;
        border-radius: 5px;
        color: #118596;
        cursor: pointer;
        font-size: large;
        padding: 16px 32px;
    }
    
    body .Cards .Card1 .Contenido-Card button:hover {
        background: #118596;
        border-radius: 5px;
        color: #ffffff;
        font-size: large;
        padding: 16px 32px;
    }
    
    body .Informacion {
        height: 100%;
        width: 100%;
        padding: 89px 144px;
    }
    
    body .Informacion .Contenido {
        display: flex;
        flex-wrap: wrap;
        height: 212px;
        padding-bottom: 120px;
    }
    
    body .Informacion .Contenido > p {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
    
    body .Informacion .Contenido .Titulo {
        align-items: start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;
        width: 100%;
    }
    
    body .Informacion .Contenido .Titulo > h4 {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }
    
    body .Informacion .Contenido .Titulo > span {
        border: 1px solid #118596;
        width: 25%;
    }
    
    body .Informacion button {
        background: none;
        border: 2px solid #118596;
        border-radius: 5px;
        color: #118596;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
        padding: 14px 30px;
        left: 50%;
        padding: 16px 32px;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    
    body .Informacion button:hover {
        background: #118596;
        border-radius: 5px;
        color: #ffffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
        padding: 16px 32px;
    }
    
    body .Footer {
        align-items: center;
        background: #f1f1f1;
        display: flex;
        justify-content: space-between;
        padding: 100px 200px;
    }
    
    body .Footer .Izquierda {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 500px;
    }
    
    body .Footer .Izquierda .Terminos-Privacidad {
        display: flex;
        gap: 24px;
    }
    
    body  .Footer .Izquierda .Terminos-Privacidad > span {
        border: 2px solid #118696;
    }
    
    body .Footer .Derecha {
        display: flex;
        gap: 24px;
    }
    
    body .Footer .Derecha .Enlaces {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}